label{
    
}

input{
    width: 100%;
    height: 25px;
    border-radius: 7px;
}

textarea{
    width: 100%;
    border-radius: 7px;
    height: 90px;
}

.content-form{
    text-align: left;
    width: 50%;
    margin: auto;
}

.primary{
    background-color: #030fff;
    color: #ffffff;
}

.secondary{
    background-color: #ffffff;
    border-color: 1px solid rgb(117, 117, 117);
}

.primary:hover{
    background-color: #686fff;
}

.secondary:hover{
    background-color: #e4e4e4;
}

.btn-secondary{
    color: gray;
    border-color: 5px solid gray;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    right: 0;
}

.btn-secondary:hover{
    background-color: #ededed;
}